@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
	--pink: hsl(322, 100%, 66%);
	--very-pale-cyan: hsl(193, 100%, 96%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--grayish-blue: hsl(208, 11%, 55%);
	--white: hsl(0, 0%, 100%);
	--dark-cyan-border: hsl(192deg 100% 9% / 12%);
	--poppins: 'Poppins', sans-serif;
	--open-sans: 'Open Sans', sans-serif;
	--poppins-600: 600;
	--open-sans-400: 400;
	--open-sans-700: 700;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 18px;
}
h1,h2,h3{
	font-family: var(--poppins);
	color: var(--very-dark-cyan);
}
p,li,button{
	font-family: var(--open-sans);
	color: var(--grayish-blue);
}
.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
/*header & hero section*/
header{
	background-image: url('images/bg-hero-desktop.svg');
	background-color: var(--very-pale-cyan);
	padding-block: 50px;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 190px;
}
.btn-secondary{
	background-color: var(--white);
	color: var(--very-dark-cyan);
	font-size: 14px;
	font-weight: var(--open-sans-700);
	border-radius: 50px;
	border: none;
	padding: 15px 65px;
	cursor: pointer;
	box-shadow: 0 0 10px var(--dark-cyan-border);
}
/*categories section*/
.flexbox{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 67px;
}
.left{
	max-width: 510px;
}
.left h1{
	font-size: 40px;
}
.left p{
	font-size: 18px;
	color: var(--very-dark-cyan);
	padding-block: 30px;
}
.left .btn-danger{
	background-color: var(--pink);
	color: var(--white);
	font-size: 14px;
	font-weight: var(--open-sans-700);
	border-radius: 50px;
	border: none;
	padding: 20px 70px;
	cursor: pointer;
	box-shadow: 0 0 10px var(--dark-cyan-border);
}
.right{
	max-width: 680px;
}
.right img{
	width: 100%;
}
.items{
	padding: 120px 0;
}
.box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	min-height: 440px;
	margin: 40px 25px;
	padding-inline: 120px 50px;
	border-radius: 20px;
	box-shadow: 0 0 10px var(--dark-cyan-border);
}
.box img{
	width: 400px;
}
.box h3{
	font-size: 28px;
	margin-bottom: 10px;
}
.box:nth-of-type(1) .box-left{
	max-width: 500px;
}
.box:nth-of-type(2) .box-right{
	max-width: 500px;
}
.box:nth-of-type(3) .box-left{
	max-width: 480px;
}
/*invite section*/
.small{
	width: 800px;
	height: 250px;
	text-align: center;
	background-color: var(--white);
	margin-top: 40px;
	border-radius: 20px;
	box-shadow: 0 0 10px var(--dark-cyan-border);
	position: relative;
	margin-bottom: -90px;
	z-index: 1;
}
.invite{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.small h2{
	font-size: 30px;
	padding-bottom: 30px;
}
.small .btn-invite{
	font-size: 18px;
	font-weight: var(--open-sans-700);
	background-color: var(--pink);
	color: var(--white);
	padding: 25px 100px;
	border-radius: 50px;
	border: none;
	box-shadow: 0 10px 10px var(--dark-cyan-border);
	cursor: pointer;
}
/*footer section*/
footer{
	min-height: 560px;
	background-color: var(--very-dark-cyan);
	padding-top: 190px;
	padding-bottom: 65px;
}
.footer-l{
	padding-left: 40px;
}
.logo-f{
	padding-bottom: 20px;
}
.footer-flex{
	display: flex;
	align-items: start;
	justify-content: space-between;
	max-width: 1250px;
	width: 90%;
}
.footer-flex ul,a,li,span{
	color: var(--white);
	list-style-type: none;
	text-decoration: none;
	margin-bottom: 20px;
}
.column1{
	max-width: 400px;
}
.column1 .footer-p{
	display: flex;
 	align-items: flex-start;
}
.column1 .footer-p img{
	height: 20px;
  	margin-right: 15px;
  	margin-top: 5px;
}
.socials{
	display: flex;
}
.socials a:hover{
	border: solid 1px var(--pink);
	color: var(--pink);
}
.circle{
	width: 35px;
	height: 35px;
	border: 1px solid var(--white);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.copyright{
	font-size: 12px;
	float: right;
	color: var(--white);
}
/*button hover*/
:is(.btn-secondary, .btn-danger, .btn-invite):hover{
	opacity: .7;
}
@media (max-width: 1280px){
	.container{
		padding: 0 30px;
	}
	.left{
		max-width: 500px;
	}
}
@media (max-width: 800px){
	.flexbox{
		flex-direction: column;
	}
	.left{
		text-align: center;
	}
	.right{
		margin-top: 50px;
	}
	.box{
		flex-direction: column;
		padding-inline: unset;
		padding-block: 50px 50px;
		text-align: center;
	}
	.box:nth-child(odd){
		flex-direction: column-reverse;
	}
	.box:nth-of-type(1) .box-right{
		margin-bottom: 70px;
	}
	.box:nth-of-type(2) .box-left{
		margin-bottom: 70px;
	}
	.box:nth-of-type(3) .box-right{
		margin-bottom: 70px;
	}
	.small{
		width: 650px;
	}
	.footer-l{
		text-align: center;
	}
	.footer-flex{
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.column1{
		margin-bottom: 50px;
	}
	.column1 .footer-p{
		display: unset;
		line-height: 1.5;
	}
	.copyright{
		float: unset;
	}
}
@media (max-width: 400px){
	.container{
		padding: 0;
	}
	.nav{
		padding-inline: 20px 20px;
	}
	header{
		background-image: url('images/bg-hero-mobile.svg');
		padding-block: 20px 50px;
	}
	.logo{
		width: 100px;
	}
	.btn-secondary{
		padding: 8px 25px;
		font-size: 10px;
	}
	.left{
		max-width: 300px;
	}
	.left h1{
		font-size: 25px;
	}
	.left p{
		font-size: 16px;
	}
	.left .btn-danger{
		padding: 12px 60px;
	}
	.right img{
		width: 300px;
	}
	.box{
		text-align: center;
		padding-inline: 30px 30px;
	}
	.box img{
		width: 250px;
	}
	.box h3{
		font-size: 20px;

	}
	.box p{
		font-size: 14px;
	}
	.small{
		width: 350px;
		height: 150px;
	}
	.small h2{
		font-size: 18px;
	}
	.small .btn-invite{
		padding: 12px 40px;
		font-size: 12px;
	}
	.footer-l{
		text-align: unset;
		padding-inline:  20px 20px;
	}
	.logo-f img{
		width: 160px;
	}
	.footer-flex{
		text-align: unset;
		align-items: unset;
		justify-content: unset;
	}
	.footer-flex ul, a, li, span{
		font-size: 15px;
	}
	.column1{
		max-width: 305px;
	}
	.column1 .footer-p{
		display: flex;
	 	align-items: flex-start;
	}
	.socials{
		justify-content: center;
	}
	.copyright{
		text-align: center;
	}
}